{% extends "template.html" %}
{% block action %}"/updateReq"{% endblock %}
{% block function %}"Update"{% endblock %}
{% block fields %}
    <br>
    Item Number:
    <br>
    <input type="number" min="1" class="form-control" value="{{ item_no }}" name="Item_no">
    <br>
    Name:
    <br>
    <textarea type="text" style= "resize: vertical" class="form-control" name="Name">{{ name }}</textarea>
    <br>
    Price (Only two decimal places):
    <br>
    <input type="number" step="0.01" min="0.01" class="form-control" value="{{ price }}" name="Price">
    <br>
    Description:
    <br>
    <textarea type="text" style= "resize: vertical" class="form-control" name="Description">{{ description }}</textarea>
    <br>
    Warranty (In months and 0 if N/A):
    <br>
    <input type="number" min="0" class="form-control" value="{{ warranty }}" name="Warranty">
    <br>
{% endblock %}
